<html>
        <head>
            <title>Django Pared</title>
        </head>
        <body>
            <div>
                <h1><a href="">Django Pared</a></h1>
            </div>

            <div>
                <p></p>
                <h2><a href="">post it</a></h2>
                <p> Soporte </p>
            </div>

            <div>
                <p>post it</p>
                <h2><a href="">post it</a></h2>
                <p>soporte</p>
            </div>
        </body>
    </html>